@page
@model IndexModel
@using System.Reflection
@using System.Diagnostics
@{
    ViewData["Title"] = "Home page";

    // get version
    Assembly assembly = Assembly.GetExecutingAssembly();
    FileVersionInfo fileVersionInfo = FileVersionInfo.GetVersionInfo(assembly.Location);
    string version = fileVersionInfo.ProductVersion;
}

<div class="text-center">
    <h1 class="display-4">JixWebApi Template</h1>
    <p>A simple preconfigured Web API template.</p>
    <p><small>V@(version)</small></p>
</div>
