@page
@model IndexModel
@using System.Reflection
@using System.Diagnostics
@{
    ViewData["Title"] = "Home page";

    // get version
    Assembly assembly = Assembly.GetExecutingAssembly();
    FileVersionInfo fileVersionInfo = FileVersionInfo.GetVersionInfo(assembly.Location);
    string version = fileVersionInfo.ProductVersion;
}

<div class="text-center">
    <h1 class="display-4">JixWebApi Template</h1>
    <p>A simple preconfigured Web API template.</p>
    <div>
        <div><strong>Version:</strong> @(version)</div>
        <div><strong>App Name:</strong> @(Model.WebHostEnv.ApplicationName)</div>
        <div><strong>Environment:</strong> @(Model.WebHostEnv.EnvironmentName)</div>
    </div>
</div>
