@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    // get version
    string version = (ThisAssembly.Git.SemVer.Major + "." +
    ThisAssembly.Git.SemVer.Minor + "." +
    ThisAssembly.Git.Commits + "-" +
    ThisAssembly.Git.Branch + "+" +
    ThisAssembly.Git.Commit);
}

<div class="text-center">
    <h1 class="display-4">JixWebApp Template</h1>
    <p>A simple preconfigured Web API template.</p>
    <a class="btn btn-primary" asp-area="" asp-page="Info">Check Info Page</a>
</div>
