@page
@model IndexModel
@using System.Reflection
@using System.Diagnostics
@{
    ViewData["Title"] = "Home page";

    // get version
    string version = (ThisAssembly.Git.SemVer.Major + "." +
    ThisAssembly.Git.SemVer.Minor + "." +
    ThisAssembly.Git.Commits + "-" +
    ThisAssembly.Git.Branch + "+" +
    ThisAssembly.Git.Commit);
}

<div class="text-center">
    <h1 class="display-4">JixWebApi Template</h1>
    <p>A simple preconfigured Web API template.</p>
    <div>
        <div><strong>Version:</strong> @(version)</div>
        <div><strong>App Name:</strong> @(Model.WebHostEnv.ApplicationName)</div>
        <div><strong>Environment:</strong> @(Model.WebHostEnv.EnvironmentName)</div>
    </div>
</div>
